/* nav bar */
nav {
	height: 80px;
	background-color: grey;
	position: relative;
	text-align: left;
	padding: 0 60px;
}

nav img {
	border: 3px solid #333;
 	height: 60px;
 	width: 60px;
 	-moz-border-radius:30px;
 	-webkit-border-radius: 30px;
 	position: absolute;
 	margin: 10px;
}

ul {
	display: inline-block;
	margin-left: 60px;
	padding-top: 12px;
	list-style-type: none;
}

li {
	float: left;
	margin: 0 10px;
	display: block;
	text-align: center;
}

li::after {
	content: "|";
	padding-left: 15px;
}

/* body */

html { 
  background: url(../images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.g-box {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	margin: auto;
}

.animal {
	width: 200px;
	height: 200px;
	border: 1px blue solid;
}
